

body{
	background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=08cb0ebaadb99995755a696a9710b229&auto=format&fit=crop&w=931&q=80);
	background-size: cover;
	background-position: center;
	color: black;
}

#content {
	text-align: center;
	padding-top: 25%;
}

a{
	background-color: black;
}